/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* App container */
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Navbar */
  .Navbar{
    flex: 1;
    padding: 20px;
    background-color: yellow;
  }
  
  /* Main Content */
  .Main {
    flex: 1;
    padding: 20px;
    background-color: blue;
  }
  
  /* Sidebar container */
  .Sidebar1 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color:pink;
  }
  
  /* Sidebar individual styles */
  .Sidebar2 {
    width: 48%;
    padding: 10px;
    background-color:green;
  }
  
  /* Footer */
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
  }
  